@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

body {
  background: #eee;
  font-family: "Crimson Text", serif;
}

h1 {
  font-size: 48px;
  margin: 40px 0 46px;
}

h2 {
  margin: 36px 0 20px;
  font-size: 30px;
}

p {
  font-size: 22px;
  line-height: 28px;
}

.article {
  max-width: 700px;
  margin: auto;

  .interactive-example {
    width: 100%;
  }
}

.point {
  &.point-draggable {
    cursor: pointer;
  }
}

.label-outline {
  fill-opacity: 1;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
}
