body {
  background: #eee;
}

.article {
  max-width: 700px;
  margin: auto;

  .interactive-example {
    width: 100%;
  }
}

.point {
  &.point-draggable {
    cursor: pointer;
  }
}

.label-outline {
  fill-opacity: 1;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
}
